@import "../../theme/theme-variables.scss";

.logo-help-notes {
  margin-top: 55px;
  margin-bottom: 25px;
  font-size: 125px;
  width: 100%;
}

.btn-logar-help-notes {
  border-radius: 10px;
}

.card-help-notes {
  border-radius: 10px;
}

.password-eye-help-notes {
  font-size: 2em;
  margin-top: 30px !important;
  margin-bottom: 0px !important;
}

.invisible-button-help-notes {
  position: absolute;
  top: 375px;
  right: 25px;
  background-color: transparent;
}
