<ion-content>
  <ion-icon text-center class="logo-help-notes" name="clipboard"></ion-icon>
  <ion-card text-center class="card-help-notes">
    <ion-card-content>
      <ion-card-title translate>APP_NAME</ion-card-title>
      <form [formGroup]="loginForm">
        <ion-item no-padding>
          <ion-label floating translate>Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item no-padding>
          <ion-label floating translate>Password</ion-label>
          <ion-input [type]="isShowingPassword ? 'text' : 'password'" formControlName="password"></ion-input>
        </ion-item>
        <button
          clear
          item-end
          *ngIf="!isShowingPassword"
          (click)="setShowingPassword()"
          class="invisible-button-help-notes"
        >
          <ion-icon class="password-eye-help-notes" name="eye-off"> </ion-icon>
        </button>
        <button
          clear
          item-end
          *ngIf="isShowingPassword"
          (click)="setShowingPassword()"
          class="invisible-button-help-notes"
        >
          <ion-icon class="password-eye-help-notes" name="eye"> </ion-icon>
        </button>
        <button
          [disabled]="!loginForm.valid || !formIsPopulated()"
          ion-button
          block
          margin-top
          class="btn-logar-help-notes"
        >
          {{ 'Enter' | translate }}
        </button>
      </form>
      <button ion-button block margin-top class="btn-logar-help-notes">{{ 'SignUp' | translate }}</button>
    </ion-card-content>
  </ion-card>
  <button ion-button block clear margin-top class="btn-logar-help-notes">{{ 'ForgotPassword' | translate }}</button>
</ion-content>
