<ion-content>
  <ion-icon text-center class="logo-help-notes" name="clipboard"></ion-icon>
  <ion-card text-center class="card-help-notes">
    <ion-card-content>
      <ion-card-title translate>APP_NAME</ion-card-title>
      <form [formGroup]="loginForm">
        <ion-item no-padding>
          <ion-label floating translate>Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item no-padding>
          <ion-label floating translate>Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
          <ion-icon
            item-end
            class="password-eye-help-notes"
            name="eye-off"
            *ngIf="!isShowingPassword"
            (click)="setShowingPassword()"
          ></ion-icon>
          <ion-icon
            item-end
            class="password-eye-help-notes"
            name="eye"
            *ngIf="isShowingPassword"
            (click)="setShowingPassword()"
          ></ion-icon>
        </ion-item>
        <button
          [disabled]="!loginForm.valid || !formIsPopulated()"
          ion-button
          block
          margin-top
          class="btn-logar-help-notes"
        >
          {{ 'Enter' | translate }}
        </button>
      </form>
      <button ion-button block margin-top class="btn-logar-help-notes">{{ 'Enter' | translate }}</button>
    </ion-card-content>
  </ion-card>
</ion-content>
